* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app {
  height: 100vh;
}

.content {
  text-align: center;
  background: url("/images/content1920.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 99;
  background-color: rgba(230, 230, 230, 0.85);
  background-blend-mode: lighten;
  position: relative;
  height: 65vh;
  overflow: auto;
}

.content h2 {
  margin-top: 15px;
  color: #303030;
  width: 50%;
  margin: 15px auto 0 auto;
  border-bottom: 1px solid #eee;
}

.coolfloat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 0px;
  padding-bottom: 0px;
}

.coolfloat p {
  width: 65%;
  line-height: 1.5;
  color: #303030;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 8px;
  font-size: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
  border-bottom: 1px solid #eee;
}

.coolfloat .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}

html {
  position: relative;
  overflow-y: hidden;
}

footer {
  color: #eee;
  background-color: #5e5e5e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  font-size: 21px;
  height: 7vh;
}

footer .social {
  margin-top: 10px;
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(173, 173, 173, 0.3);
          box-shadow: inset 0 0 6px rgba(173, 173, 173, 0.3);
}

.content::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid #c4c5c5;
  border-radius: 5px;
}
