* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

#app {
  height: 100vh;
}

html {
  position: relative;
  overflow-y: hidden;
  background: url("/images/htmlBg.jpg") repeat;
}

.vueperslides {
  padding: 20px 0px;
}

.vueperslides .vueperslide {
  background-size: contain;
  background-repeat: no-repeat;
}

.vueperslides .vueperslide .vueperslides__arrow {
  font-size: 15px;
}

footer {
  color: #eee;
  background-color: #5e5e5e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  font-size: 21px;
  height: 7vh;
}

footer .social {
  margin-top: 6px;
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(173, 173, 173, 0.3);
          box-shadow: inset 0 0 6px rgba(173, 173, 173, 0.3);
}

.content::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid #c4c5c5;
  border-radius: 5px;
}
