.contactinfo {
  margin-top: 20px;
}

.contactinfo p {
  font-size: 22px;
  margin: 8px auto;
  color: #303030;
  margin-top: 15px;
}

.contactinfo a {
  color: #1b1b1b;
  font-size: 23px;
}

.idopont {
  position: absolute;
  bottom: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #e0e0e0;
  border-radius: 20px;
  padding: 10px;
  font-size: 19px;
}
