@import 'mixin.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #app {
    height: 100vh;
  }
  .content {
    text-align: center;
    background: url('/images/content1920.jpg') no-repeat;
    
    background-size: cover;
    background-position: 50% 50%;
    z-index: 99;
    background-color: rgba(230, 230, 230, 0.85);
    background-blend-mode: lighten;
    position: relative;
    height: 65vh;
    //max-height: 100%;
    overflow: auto;
    h2 {
      margin-top: 15px;
      color: rgb(48, 48, 48);
      width: 50%;
      margin: 15px auto 0 auto;
      border-bottom: 1px solid #eee;
    }
  }

  .coolfloat {
    display: flex;
    flex-direction: column;
    //justify-content: space-around;
    
    padding-top: 0px;
    padding-bottom: 0px;
    
    p {
      width: 65%;
      line-height: 1.5;
      color: rgb(48, 48, 48);
      //background-color:rgba(58, 58, 58, 0.788);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-self: center;
      padding: 8px;
      font-size: 20px;
      margin-top: 6px;
      margin-bottom: 6px;
      border-bottom: 1px solid #eee;
    }
    .video {
      display: flex;
      justify-content: center;
      margin-bottom: 25px;
    }
  }
html {
  position: relative;
  overflow-y: hidden;
}
  footer {
    color: #eee;
    background-color: rgb(94, 94, 94);
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    padding: 20px;
    font-size: 21px;
    height: 7vh;
    .social {
      margin-top: 10px;
    }
  }

    .content::-webkit-scrollbar {
    width: 8px;
    }
    
    .content::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(173, 173, 173, 0.3);
    }
   
    .content::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    outline: 1px solid rgb(196, 197, 197);
    border-radius: 5px;
    }