@import 'mixin.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }
  #app {
    height: 100vh;
  }
  

  
//   i {
//     display: block;
//     position: absolute;
//     font-size: 26px;
//     @media screen and (max-width:768px){
//   font-size: 24px;
//   }
  
// }
// .fas.fa-quote-left {
//     top: 50px;
//     left: 15px;
// }
// .fas.fa-quote-right {
//   top: 120px;
//   right: 15px;
// }

  
html {
  position: relative;
  overflow-y: hidden;
}

.vueperslides {
  padding: 20px 0px;

  .vueperslide {
      background-size: contain;
      background-repeat: no-repeat;

      .vueperslides__arrow {
          font-size: 15px;
      }
      
  }
  .vueperslides__bullets {
     // display: none;
  }
}

  footer {
    color: #eee;
    background-color: rgb(94, 94, 94);
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    padding: 20px;
    font-size: 21px;
    height: 7vh;
    .social {
      margin-top: 6px;
    }
  }

    .content::-webkit-scrollbar {
    width: 8px;
    }
    
    .content::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(173, 173, 173, 0.3);
    }
   
    .content::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    outline: 1px solid rgb(196, 197, 197);
    border-radius: 5px;
    }