.contactinfo {
    margin-top: 20px;
    p {
        font-size: 22px;
        margin: 8px auto;
        color: rgb(48, 48, 48);
        margin-top: 15px;
    }
    a {
        color: rgb(27, 27, 27);
        font-size: 23px;
    }
}

.idopont {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(224, 224, 224);
    border-radius: 20px;
    padding: 10px;
    font-size: 19px;
}