@import 'mixin.scss';
.priceList {
    img {
        display: block;
        width: 40%;
        //max-width: 40%;
        margin: 30px auto 0 auto;
        @media screen and (max-width:768px) {
            width: 70%;
        }
    }
}